body {
  background-color: #12161c !important;
  color: #a9b6c2;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html {
  background-color: #12161c !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #1e1e1e;
  color: #a9b6c2;
  border-bottom: 1px solid #2c3238;
}

.nav-links a, .nav-links button {
  margin-left: 1rem;
  color: #f0b90b;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links a:hover, .nav-links button:hover {
  color: #ffca28;
}

.modal-content {
  background: #1e1e1e;
  color: #a9b6c2;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.form-control {
  background: #2c3238;
  color: #a9b6c2;
  border: 1px solid #3a4046;
  border-radius: 8px;
}

.form-label {
  color: #f0b90b !important;
  font-weight: bold;
}

.btn-success {
  background: #00c08b;
  color: #fff;
  font-weight: bold;
  border: none;
}

.btn-success:hover {
  background: #00a077;
  color: #fff;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #12161c;
}

main {
  flex: 1;
}

.crypto-card {
  transition: transform 0.2s;
  border-radius: 10px;
  overflow: hidden;
  background-color: #1f252a;
  color: #a9b6c2;
}

.crypto-card:hover {
  transform: scale(1.05);
  background-color: #2c3238;
}

.crypto-card img {
  object-fit: contain;
  padding: 10px;
}

footer {
  background-color: #343a40;
  color: #a9b6c2;
  padding: 1rem;
  text-align: center;
}

.container {
  background-color: #1f252a;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  color: #a9b6c2;
}

.btn-warning {
  background: linear-gradient(90deg, #f0b90b, #ffca28);
  border: none;
  color: #fff;
}

.btn-outline-warning {
  color: #f0b90b;
  border-color: #2c3238;
  background: transparent;
}

.btn-outline-warning:hover {
  background: linear-gradient(90deg, #f0b90b, #ffca28);
  color: #fff;
}

.btn-danger {
  background-color: #EF403C;
  border: none;
  color: #fff;
}

.alert {
  background-color: #2c3238 !important;
  border: none;
  color: #a9b6c2;
  border-radius: 8px;
}